{% extends "base.html" %}

{% block content %}

<section class="hero">

<h1>Welcome to PlantStore 🌿</h1>

<p>
Find the best indoor and outdoor plants for your home and garden.
</p>

</section>

<section class="about">

<h2>About Our Website</h2>

<p>
PlantStore helps you discover plants, learn plant care,
and buy the best plants for your home.
</p>

</section>

<section class="stats">

<div class="stat-box">
<h2>500+</h2>
<p>Plants Sold</p>
</div>

<div class="stat-box">
<h2>200+</h2>
<p>Happy Clients</p>
</div>

<div class="stat-box">
<h2>60+</h2>
<p>Plant Types</p>
</div>

</section>

<section class="contact">

<h2>Contact Us</h2>

<p>Email: support@plantstore.com</p>
<p>Phone: +91 9999999999</p>
<p>Location: Trivandrum, Kerala</p>

</section>

{% endblock %}